.bd-placeholder-img {
   font-size: 1.125rem;
   text-anchor: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
}


.feather {
   width: 16px;
   height: 16px;
}

/*
  * Sidebar
  */



@media (max-width: 767.98px) {
   .sidebar {
      top: 5rem;
   }
}

@media (min-width: 768px) {
   .bd-placeholder-img-lg {
      font-size: 3.5rem;
   }
}




/*
  * Navbar
  */

.navbar-brand {
   padding-top: .75rem;
   padding-bottom: .75rem;
   background-color: rgba(0, 0, 0, .25);
   box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
   top: .25rem;
   right: 1rem;
}

.navbar .form-control {
   padding: .75rem 1rem;
}

.form-control-dark {
   color: #fff;
   background-color: rgba(255, 255, 255, .1);
   border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
   border-color: transparent;
   box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}



.b-example-divider {
   height: 3rem;
   background-color: rgba(0, 0, 0, .1);
   border: solid rgba(0, 0, 0, .15);
   border-width: 1px 0;
   box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
   flex-shrink: 0;
   width: 1.5rem;
   height: 100vh;
}

.bi {
   vertical-align: -.125em;
   fill: currentColor;
}

.nav-scroller {
   position: relative;
   z-index: 2;
   height: 2.75rem;
   overflow-y: hidden;
}

.nav-scroller .nav {
   display: flex;
   flex-wrap: nowrap;
   padding-bottom: 1rem;
   margin-top: -1px;
   overflow-x: auto;
   text-align: center;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;
}


.form-control-dark {
   border-color: var(--bs-gray);
}

.form-control-dark:focus {
   border-color: #fff;
   box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
   font-size: 85%;
}

.dropdown-toggle {
   outline: 0;
}

/* alerts */
.alert-success {
   background-color: green;
}


/* header codes */
.header-nav {
   font-family: 'Raleway', sans-serif;
   background-color: #4F6EAC;
}

.user-info p.username-profile {
   font-size: 18px;
   color: #F8FAF8;
}

.logo {
   color: #F8FAF8;
   font-size: 32px;
   font-weight: bold;
}

.headers-two,
.logo:hover {
   color: rgba(248, 250, 248, 0.75);
   transition: 0.6s ease-in-out;
}

.nav-item .nav-link {
   color: rgba(248, 250, 248, 0.75);
   font-size: 16px;
}

.nav-item .nav-link:hover {
   color: rgba(248, 250, 248, 0.45);
   transition: 0.6s ease-in-out;
   padding-top: 1.5px;
}

.navbar-nav .nav-item .nav-link.active {
   color: #F8FAF8;
   font-weight: 600;
}

.headers-two,
ul.navbars-link li a:hover {
   color: #F8FAF8;
   transition: 0.6s ease-in-out;
}

.btn-right,
button.btn-profile {
   color: #F8FAF8;

}


/* sidebar  */
.row {
   margin: 0;
   padding: 0;
}


/* alert */
.alert-tags div.modal-header {
   font-family: 'Open Sans', sans-serif;
}

.alert-tags .btn-close {
   width: 2px;
   height: auto;
}

.alert-category .btn-close {
   width: 2px;
   height: auto;
}

.alert-tags h5.modal-title {
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
}

.alert-tags .modal-body {
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
}



/* about */
.btn-link a.btn {
   font-family: 'Raleway', sans-serif;
   font-size: 28px;
}

.btn-link a.btn:nth-child(1) {
   border: none;
   background-color: #F2F2F2;
   color: black;
}

.btn-link a.btn:nth-child(2) {
   border: none;
   background-color: #B8E1FF;
   color: black;
}

.btn-link a.btn:nth-child(3) {
   border: none;
   background-color: #ffc117e1;
   color: black;
}

/* cards */
.cards-category-name h1.card-title {
   font-family: 'Tiro Bangla', serif;
   font-size: 38px;
}

.cards-category-name a.title {
   font-family: 'Tiro Bangla', serif;
   font-size: 48px;
   color: black;
}

.cards-category-name a.title:hover {
   color: #4F6EAC;
}


.cards-category-name h1.title {
   font-family: 'Tiro Bangla', serif;
   font-size: 18px;
   font-weight: lighter;
   margin-bottom: 32px;
}


.cards-category-name h2.card-title {
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   font-weight: bolder;
}

.cards-category-name h3.card-title {
   font-family: 'Tiro Bangla', serif;
   font-size: 32px;
}

.cards-category-name h6.card-title {
   font-family: 'Raleway', sans-serif;
   font-size: 12px;
   font-weight: 500;
}


.cards-category-name p.text-paragraph {
   font-size: 18px;
   text-align: justify;
}

.cards-category-name a.btn {
   font-family: 'Tiro Bangla', serif;
   color: #FFC017;
   font-size: 20px;
}

.cards-category-name button.btn {
   font-family: 'Tiro Bangla', serif;
   color: #FFC017;
   font-size: 20px;
}


.cards-category-name button.tags {
   font-size: 12px;
   color: black;
}

.cards-category-name button.likes {
   font-size: 12px;
   color: #F8FAF8;
}

.cards-category img.rounded-end {
   max-width: 550px;
   width: 100%;
   height: 350px;
}

.cards-category a.title {
   font-size: 28px;
   font-family: 'Tiro Bangla', serif;
   color: black;
}

.cards-category a.title:hover {
   color: #4F6EAC;
}

.cards-category p.text-paragraph {
   font-size: 18px;
   font-family: 'Open Sans', serif;

}

span.name {
   font-family: 'Open Sans', serif;
   font-size: 48px;
   font-weight: bold;
   color: black;
}

/* user */
.user-category a.title {
   font-family: 'Tiro Bangla', serif;
   font-size: 20px;
   font-weight: bold;
   color: black;
   margin: 0;
   padding: 0;
}

.user-category a.title:hover {
   color: #4F6EAC;
}

/* tags */
.tag-category a.title {
   font-family: 'Tiro Bangla', serif;
   font-size: 48px;
   color: black;
}


.tag-category a.title:hover {
   color: #4F6EAC;
   transition: 0.6 ease-in-out;
}

.tag-category a.tags {
   font-family: 'Raleway', sans-serif;
   background-color: #B8E1FF;
   color: black;
   border: none;
   font-size: 16px;
}

.tag-category a.tags:hover {
   background-color: #98d1f9;
   font-weight: 600;
}

.tag-category h3.card-title {
   font-family: 'Tiro Bangla', serif;
   font-size: 28px;
}

.tag-category h3.card-title:hover {
   font-family: 'Tiro Bangla', serif;
   font-size: 28px;
   color: #4F6EAC;
}



/* footer codes */
.footer {
   font-family: 'Raleway', sans-serif;
   background-color: #4F6EAC;
}

.section-footers .footer-logo {
   font-weight: 600;
   font-size: 38px;
   color: #F8FAF8;
}

.section-footers .footer-logo:hover {
   color: rgba(248, 250, 248, 0.45);
   transition: 0.6s ease-in-out;
}


.section-footers,
.nav-item a.nav-text {
   color: #F8FAF8;
   font-size: 16px;
   font-weight: 500;
   text-align: center;
}

a.nav-text:hover {
   color: rgba(248, 250, 248, 0.45);
   transition: 0.6s ease-in-out;
   padding-top: 1.5px;
}

.section-footer .copyright {
   color: #F8FAF8;
}